body{
    background-color: rgb(36,52,71);
}
hr{
    color: red;
    background-color: red;
    height: 3px;
    border-radius: 4px;
}
img{
    height: 20px;
}
li{
    padding: 2px;
    color: white;
}
h1{
    color: white;
}
h3{
    color: white;
    background-color: red;
    width: fit-content;
    padding: 7px;
}
.font{
    font-family:Arial, Helvetica, sans-serif;
}
