body{
    background-color: hsl(52, 14%, 58%);
}
a{
    display: inline-block;
    padding: 2px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(235, 229, 229);
    text-decoration: none;
    color: black;
}
a:hover{
    color:rgb(0, 225, 255)
}
div.table{
    padding: 6px;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    max-width: fit-content;
}
hr{
    height: 4px;
    background-color: rgb(221, 216, 216);
    border-radius: 8px;
}