body {
  background-color: rgb(88, 148, 128);
}
a:link {
  color: rgb(157, 255, 0);
}
a {
  text-decoration: none;
}
a:visited {
  color: rgb(151, 40, 83);
}
a:hover {
  cursor: pointer;
}
a:focus {
  background-color: rgb(0, 247, 255);
}
a:visited {
  color: aliceblue;
}
