* {
  margin: 0;
}
body {
  background-color: rgb(26, 26, 26);
}
h1 {
  color: white;
}
.container {
  display: grid;
  margin-left: 5%;
  margin-top: 5%;
  background-color: rgb(211, 186, 186);
  width: 29.6875em;
  height: 30.9375em;
  border: 0.3125em solid rgb(69, 58, 54);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 8.4375em 1fr 1fr 0.1fr;
}

.grey-box {
  background-color: rgb(254, 249, 230);
}
.blue-box {
  background-color: rgb(64, 156, 197);
}
.red-box {
  background-color: rgb(236, 73, 56);
}
.yellow-box {
  background-color: rgb(255, 255, 0);
}
#item1 {
  width: 7.8125em;
  height: 9.375em;
  border-right: 0.625em solid rgb(69, 58, 54);
  border-bottom: 0.625em solid rgb(69, 58, 54);
}
#item2 {
  grid-row-start: 2;
  width: 7.8125em;
  height: 11.5625em;
  border-top: 0.625em solid rgb(69, 58, 54);
  border-right: 0.625em solid rgb(69, 58, 54);
  border-bottom: 0.625em solid rgb(69, 58, 54);
}
#item3 {
  grid-row-start: 3;
  grid-row-end: 6;
  border-right: 0.625em solid rgb(69, 58, 54);
}
#item4 {
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
  border-bottom: 0.625em solid rgb(69, 58, 54);
}
#item5 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  border-right: 0.625em solid rgb(69, 58, 54);
}
#item6 {
  grid-row: 3;
  border-bottom: 0.625em solid rgb(69, 58, 54);
}
#item7 {
  border-top: 0.625em solid rgb(69, 58, 54);
}
