body {
  background-color: rgb(47, 81, 119);
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/openSans.woff2") format("woff2");
}
h1 {
  font-family: Arial;
  font-size: 200%;
  font-weight: bolder;
  color: white;
}
h2 {
  color: white;
}
h3 {
  font-style: oblique;
  size: 200%;
  color: white;
}
p {
  font-family: "Open Sans", Arial, sans-serif;
  max-width: 50%;
  background-color: whitesmoke;
  border: 4px groove black;
  text-transform: capitalize;
}
.absolute-size {
  font-size: x-large;
}
.relative-size {
  font-size: smaller;
}
.relative-length {
  font-size: 1.1em;
}
.font-weight {
  font-weight: 900;
}
.text-decoration {
  text-decoration-line: underline line-through;
  text-decoration-color: rgb(112, 32, 32);
  text-decoration-thickness: from-font;
}
.line-height {
  line-height: 3em;
}
.letter-spacing {
  letter-spacing: 0.5em;
}
.text-align {
  text-align: right;
}
/*Vertical align stuff below*/
img.top {
  vertical-align: text-top;
}
img.bottom {
  vertical-align: text-bottom;
}
img.middle {
  vertical-align: middle;
}
.text-shadow {
  text-shadow: 1px 1px 2px black;
}
.cool::first-line {
  color: rgb(34, 134, 84);
}
.cool::first-letter {
  color: blueviolet;
  font-size: 200%;
}
div {
  color: white;
}
